

#image-home {
  height: 60vh;
  width: 70vw;;
}

.home-description {
  
  padding-bottom: 5vh;
  display: flex;
  justify-content: center;
}

#sku-description {
  font-size: 1.5rem;
  width: 75%;
}

@media only screen and (max-width: 500px) {
  .home-image {
    background-color: lightgrey;
  }
  
  #image-home {
    height: 60vh;
    width: 70vw;
  }
  
  .home-description {
   
    padding-bottom: 5vh;
    display: flex;
    justify-content: center;
  }
  
  #sku-description {
    font-size: 1.5rem;
    width: 75%;
  }
}